<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is the home page 1+2</h1>
    <h3><%= 1+2 %></h3>
    <h3>Dice gave value: <%= Math.floor(Math.random()*6)+1 %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui dolor sapiente quae ipsum impedit delectus quaerat reiciendis fugiat molestiae sunt minima praesentium, voluptate nostrum, recusandae sint est. Culpa, possimus esse! Quam, in quae libero architecto vel, quisquam facilis repellat minima tempora labore repellendus perspiciatis atque placeat quidem eaque dolorem porro?</p>
    <button>clickme</button>
</body>
</html>